<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="static/base.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="static/favicon.png">
    <title>Account Login</title>
</head>
<body>
  <h1>You are not signed in!</h1>
  <p><a href="/create_account">Sign up</a> or <a href="/login">log in</a> to gain access to custom search engines, counters and early access to new features.</p>
</body>
</html>
