<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Scenic ToS</title>
  <link href="static/about.css" rel="stylesheet" type="text/css" />
  <script src="static/about.js" defer></script>
</head>

<body>
  
  <h1>Scenic Terms of Service</h1>
  <h2>By continuing to use this website you agree to the following terms and conditions.</h2>

  <button class="accordion first">How was Scenic made?</button>
  <div class="panel">
    <p>Blah blah bla</p>
  </div>
  
  1. Acceptance of Terms

  By accessing and utilizing the services of Scenic Search Engine ("Scenic," "we," "us," or "our"), you manifest your express acknowledgment, comprehension, and unequivocal consent to the terms and conditions delineated herein. In the event that you do not concur with these Terms, kindly refrain from availing yourself of the services proffered by Scenic. If you represent an entity or organization, you affirm that you possess the requisite authority to contractually obligate the said entity or organization to adhere to these Terms.

  2. Privacy and Data Collection

  a. Cookies and Local Storage: Scenic reserves the prerogative to employ technologies such as cookies and local storage mechanisms, herein referred to as "Technologies," with the primary aim of augmenting user experience. These Technologies may accumulate data for the purposes of optimizing functionality and conducting analytical assessments. The management of cookie preferences is placed within the purview of user control, accessible via browser settings.

  b. Search History: Scenic may engage in the collection and retention of user search history with the objective of refining search outcomes and provisioning individualized user experiences. All data shall be managed and handled in strict accordance with our Privacy Policy.

  3. Use of Scenic

  a. By availing oneself of Scenic, you expressly undertake not to employ this service for any unlawful or prohibited purposes as per the prevailing legal norms and standards.

  b. You shall abstain from endeavoring to disrupt the operational functionality of Scenic or undertaking any unauthorized access to our systems.

  4. Account Creation

  a. To access certain features and services offered by Scenic, you may be required to create an account. You must provide accurate, complete, and up-to-date information during the registration process. Failure to do so may result in the suspension or termination of your account.

  b. You are responsible for maintaining the confidentiality of your account credentials, including your username and password. Any activities conducted under your account are your sole responsibility.

  c. You agree to promptly inform Scenic of any unauthorized use of your account or any other security breaches.

  5. Intellectual Property

  The entirety of the content disseminated by Scenic and the platform itself is secured by a suite of intellectual property rights, primarily inclusive of copyright. Any replication, distribution, or derivation of content, whether textual, graphical, or any other form, is proscribed in the absence of explicit authorization granted by us.

  6. Third-Party Links

  Scenic may encompass hyperlinks or references to external third-party websites or online resources. The governance and management of these external web entities, their content, and associated practices do not fall within the purview of Scenic's responsibility or oversight. Your engagement with said third-party websites is undertaken at your own risk.

  7. Disclaimer of Warranties

  Scenic is proffered "as is" without any form of warranty, whether expressed or implied. We do not warrant the accuracy, dependability, or uninterrupted availability of our services.

  8. Limitation of Liability

  Under no circumstances shall we, our affiliates, or our respective officers, directors, employees, agents, or any associated parties be held liable for any direct, indirect, incidental, consequential, or special damages resulting from or associated with your utilization of Scenic, including but not limited to, any inability to use the service.

  9. Termination

  We reserve the unqualified right to terminate your access to Scenic at our sole discretion, with or without cause, notice, or rationale.

  10. Changes to Terms

  Scenic reserves the authority to revise and amend these Terms on a periodic basis. The onus rests upon you to regularly review the Terms, and your continued usage of Scenic signifies your acceptance of any modified Terms.

</body>

</html>
